// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.recipeItem img{
  width: 300px;
}

.recipes-app{
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-heading{
    
    margin-top: 4rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 900;
    
    display: flex;
    justify-content: center;
  }

  &-description{
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    
  }
}

.recipeItem-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  grid-gap: 1rem;
  flex-wrap: wrap;
}

.recipeItem{
  width: 300px;
  height: 365px;
  border: 1px solid grey;
  overflow: hidden;

  img{
    max-width: 100%;
    height: 270px;
    object-fit: contain;

    
    
  }

  &-title{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    transition:  all .2s;

    &:hover{
      color: #eb2f06;
      text-decoration: underline;
    }
      
  }
}