@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap');
*{
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}
body {
  margin: 0;
font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  max-width: 65rem;
  margin: 0 auto;
}

